<!DOCTYPE html>
<html>
<head>
    <title>siw-campi</title>
</head>
<body>
    <nav>
        <div>
            <a href="/logout">Logout</a>
        </div>    
    </nav>
    <header>
        <div>
            <h1>CAMPI PRESENTI NEL SISTEMA</h1>
        </div>
    </header>
    <section>
        <div th:if="${campi.isEmpty()}"> 
            Non ci sono campi nel sistema! 
        </div> 
        <div th:unless="${campi.isEmpty()}">
            <ul>
                <li th:each="campo : ${campi}">
                    <span th:text="${campo.nome} + ' ('+ ${campo.tipo} + ')'"></span>
                    
                    <!-- Bottone per modificare il campo -->
                    <a th:href="@{'/admin/showFormModificaCampo/' + ${campo.id}}">
                        <button type="button">Modifica</button>
                    </a>
                    
                    <!-- Bottone per eliminare il campo -->
                    <a th:href="@{'/admin/cancellaCampo/' + ${campo.id} }">
                        <button type="button">Elimina</button>
                    </a>
					
                </li>
            </ul>
        </div>
		
		        <div>
				<a href="/">Torna all'homepage </a>
				</div>
    </section>
</body>
</html>
