<!DOCTYPE html>
<html>

<body>

<section class="section">
    <div class="login-container" style="margin-top: 10%;">
        <div id="loginMenu">
            <div style="text-align: center;">
                <h1>Modifica il campo</h1>
            </div>

            <!-- Associa `campoDaModificare` come oggetto principale del form -->
            <form th:action="@{'/admin/formModificaCampo/' + ${campoDaModificare.id}}" th:object="${campoDaModificare}" method="POST">
                
                <div class="item_Form">
                    <label>Nome del campo</label>
                    <span><input type="text" required th:field="*{nome}" /></span>
                </div>  

                <div class="item_Form">
                    <label>Aumenta o riduci il costo</label>
                    <span><input type="text" required th:field="*{costo}" /></span>
                </div>


                <div class="item_Form">
                    <label>Cambia il tipo</label>
					<select id="tipo" name="tipo">
					 <option value="5vs5">5 vs 5</option>
					 <option value="8vs8">8 vs 8</option>
					 <option value="11vs11">11 vs 11</option>
					 </select>
                </div>

                <div>
                    <button class="button-confirmP" type="submit">Effettua modifica</button>
                </div>
            </form>
        </div>
    </div>
	
	        <div>
			<a href="/">Torna all'homepage </a>
			</div>
	
</section>

<footer class="footer">
</footer>

</body>

</html>
