<!DOCTYPE html>
<html>

<head>
	<title>Modifica campo</title>
	<link rel="stylesheet" href="/css/stile.css"/>
</head>

<body>

<section>
    <div>
        <div>
            <div>
                <h1>Modifica il campo</h1>
            </div>

            <!-- Associa `campoDaModificare` come oggetto principale del form -->
            <form th:action="@{'/admin/formModificaCampo/' + ${campoDaModificare.id}}" th:object="${campoDaModificare}" method="POST">
                
                <div>
                    <label>Nome del campo</label>
                    <span><input type="text" required th:field="*{nome}" /></span>
                </div>  

                <div >
                    <label>Aumenta o riduci il costo</label>
                    <span><input type="text" required th:field="*{costo}" /></span>
                </div>


                <div >
                    <label>Cambia il tipo</label>
					<select id="tipo" name="tipo">
					 <option value="5vs5">5 vs 5</option>
					 <option value="8vs8">8 vs 8</option>
					 <option value="11vs11">11 vs 11</option>
					 </select>
                </div>

                <div>
                    <button class="button-confirmP" type="submit">Effettua modifica</button>
                </div>
            </form>
        </div>
    </div>
	
	        <div>
			<a href="/">Torna all'homepage </a>
			</div>
	
</section>



</body>

</html>
