<!DOCTYPE html>
<html>

<body>
	
	<section class="section">
	<div class="login-container" style="margin-top: 10%;">
	<div id="loginMenu">
		<div style="text-align: center;">
				<h1>Aggiungi un campo</h1>
				</div>
	<form th:action="@{/admin/campo}" method="POST">
		
		
		<div th:object="${campo}">
			
			
		<div class="item_Form">
				<label>Nome del campo</label>
				<span><input type="text"  required th:field="${campo.nome}" /></span>
				<!--<span th:if="${#fields.hasErrors('campo.nome')}" th:errors="${campo.nome}" th:style="'color:red'">-->
				</span>
		</div>	
			
		
		<div class="item_Form">
			<label>Costo</label>
			<span><input required type="text"   th:field="${campo.costo}" /></span>
			<!--<span th:if="${#fields.hasErrors('campo.costo')}" th:errors="${campo.costo}" th:style="'color:red'">-->
			</span>
		</div>
		
		
		<div class="item_Form">
			<!--<span>
				<input type="text" required th:field="${campo.tipo}" />
			</span>-->
			<section>    
                <label>Tipo di campo:</label>
                <select id="tipo" name="tipo">
                    <option value="5vs5">5 vs 5</option>
                    <option value="8vs8">8 vs 8</option>
                    <option value="11vs11">11 vs 11</option>
              </select>
			</section>
			<!--<span th:if="${#fields.hasErrors('campo.tipo')}" th:errors="${campo.tipo}"
				th:style="'color:red'">
			</span>-->
		</div>
		
      </div>
      
		<div>
			<button class="button-confirmP" type="submit">Inserisci</button>
		</div>
	</form>
	
	</div>
	</div>
	</section>
	
	<footer class="footer">
		
	</footer>
	
</body>

</html>