<!DOCTYPE html>
<html>

<head>
	<title>HomePage</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div class="container">

	
	<!-- PULSANTE LOGIN/LOGOUT -->
	<header>
		
	<div th:if="${userDetails}">
	   <span th:text="${userDetails.username}"></span>
	   <a href="/logout">Logout</a>
	</div>
	<div sec:authorize="!isAuthenticated()">
	   <a href="/login">Login</a>
	</div>

	</header>
	
	
	<div><img src="/images/logo-siw.png" width="10%" /></div>
	<h1>BENVENUTO NEL SITO DI PRENOTAZIONE CAMPI</h1>
	<div>
		<a href="/admin/formNewCampo">Crea un campo</a><br><br>
		<a href="/admin/campi">Tutti i campi</a><br><br>
		<a href="/formSearchCampi">Cerca un Campo</a><br><br>
     </div>
    </div>


</body>

</html>
