<!DOCTYPE html>
<html>
<head>
    <title>siw-campi</title>
</head>
<body>
    <nav>
        <div>
            <a href="/logout">Logout</a>
        </div>    
    </nav>
    <header>
        <div>
            <h1>PRENOTAZIONI PRESENTI</h1>
        </div>
    </header>
    <section>
        <div th:if="${prenotazioni.isEmpty()}"> 
            Non ci sono prenotazioni nel sistema! 
        </div> 
        <div th:unless="${prenotazioni.isEmpty()}">
            <ul>
                <li th:each="prenotazione : ${prenotazioni}">
                    <span th:text="${prenotazione.data} + '    ' +${prenotazione.orario} + '    campo:  ' +
					 ${prenotazione.campo.nome} + '    email utente: ' + ${prenotazione.user.email}">
					</span>
                </li>
            </ul>
        </div>
		 
		<div>
		<a href="/">Torna all'homepage </a>
		</div>
		
    </section>
</body>
</html>
