<!DOCTYPE html>
<html>

<body>
	
	<section>
		
	<div>
		
	<div>
		
		<div>
				<h1>Seleziona il tipo di campo:</h1>
				</div>
				
	<form th:action="@{/cercaTipoCampo}" method="get">
		
		<div class="item_Form">
			<section>    
                <label>Tipo di campo:</label>
                <select id="tipo" name="tipo">
                    <option value="5vs5">5 vs 5</option>
                    <option value="8vs8">8 vs 8</option>
                    <option value="11vs11">11 vs 11</option>
              </select>
			</section>
		</div>
		
      </div>
      
	        <div>
				<button class="button-confirmP" type="submit">Conferma</button>
			</div>
			
	</form>
	
	</div>
	             
	        <div>
			<a href="/">Torna all'homepage </a>
			</div>
			
	</section>
	
	
</body>

</html>
