<!DOCTYPE html>
<html>

    <head>
		<link rel="stylesheet" href="/css/stile.css"/>
    <title>Prenota Qui!</title>
	</head>
    
	
<body>

	<section>
	    <form th:action="@{/formNewPrenotazione/{id}(id=${campoDaPrenotare.id})}" th:object="${prenotazione}" method="POST">
	        <section>
	            <label for="date">Data:</label> 
	            <input type="date" id="date" name="data" required th:field="${prenotazione.data}" min="2025-01-01" max="2025-12-31">
	        </section> 
	        
	        <section>
	            <label for="orario">Orario:</label>
	            <select id="orario" name="orario" required th:field="${prenotazione.orario}">
	                <option value="16:00">16:00</option>
	                <option value="17:30">17:30</option>
	                <option value="19:00">19:00</option>
	                <option value="20:30">20:30</option>
	            </select>
	        </section>
	        
	        <button type="submit">Prenota</button>
	    </form>
		
		     <div>
				<a href="/">Torna all'homepage </a>
		     </div>
		
	</section>
	
  
</body>
</html>
