<!DOCTYPE html>
<html>
<head>
    <title>siw-campi</title>
	<link rel="stylesheet" href="/css/stile2.css"/>
</head>
<body>
    <nav>
        <div>
            <a href="/logout">Logout</a>
        </div>    
    </nav>
    <header>
        <div>
            <h1>Prenotazioni effettuate</h1>
        </div>
    </header>
    <section>
        <div th:if="${prenotazioni.isEmpty()}"> 
            Non hai effettuato prenotazioni! 
        </div> 
        <div th:unless="${prenotazioni.isEmpty()}">
            <ul>
				<li th:each="prenotazione : ${prenotazioni}">
				        <span th:text="${prenotazione.data} +'  ' + ${prenotazione.orario} + '  ' + ${prenotazione.campo.nome}"> </span>
				      
				        <!-- Bottone per eliminare la prenotazione-->
				        <a th:href="@{'/cancellaPrenotazione/' + ${prenotazione.id}}">
				            <button type="button">Cancella</button>
				        </a>
						
				    </li>
            </ul>
        </div>
		
		     <div>
				<a href="/">Torna all'homepage </a>
		     </div>
		
    </section>
</body>
</html>


