<!DOCTYPE html>
<html>
<head>
    <title>siw-campi</title>
</head>
<body>
    <nav>
        <div>
            <a href="/logout">Logout</a>
        </div>    
    </nav>
    <header>
        <div>
            <h1>CAMPI IN BASE AL TIPO:</h1>
        </div>
    </header>
    <section>
        <div th:if="${tipoCampi.isEmpty()}"> 
            Non ci sono campi nel sistema di questo tipo! 
        </div> 
        <div th:unless="${tipoCampi.isEmpty()}">
            <ul>
				<li th:each="campo : ${tipoCampi}">
				        <span th:text="${campo.nome}+'   '+${campo.tipo}+ '  Costo: '+${campo.costo} "></span>
				        
						 <!-- Bottone per selezionare il campo da prenotare -->
						 <a th:href="@{/showFormNewPrenotazione/{id}(id=${campo.id})}">
						 <button type="button">Prenota</button>
						 </a>
						
				    </li>
            </ul>
			
			
        </div>
    </section>
	
	<div>
			<a href="/">Torna all'homepage </a>
	     </div>
	 
</body>
</html>





